body {
    background-color:#f6f5ff;
    background-image: url("https://uploads-ssl.webflow.com/5f7c29021be3c410facedbf1/5fd7597fe589fae49c1235ca_bg5.svg");
  }

/* navlinks */
.nav_links{
    padding-top: 2%;
    text-align: right;
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    font-size: 30px;
  }

  li.about_me{
    color: blueviolet;
  }

  .about_me{
    padding-top: 1%;
  }
  
  .projects{
    padding-top: 1%;
  } 

  /* Only for nav when home tab isnt the logo */
  .home{
    padding-top: 1%;
  }

  footer{
    text-align: center;
    padding-top: 20%;
  }

  .skip-content{
    background: #e77e23;
    height: 20px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-150%);
    transition: transform 0.3s;
  }